  <div class="contents row" >
    <div>Share the prototype</div>
    <h1>PROTO SPACE</h1>
    <% @products.each do |tweet| %>
      <%= render partial: "product", locals: { product: product } %>
    <% end %>
  <%= paginate(@products) %>
</div>